.AddInsurancebuttonFrame7 {
  border: 1px solid #c68900;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  width: 67.25vw;
  height: 3vw;
  color: #c68900;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.AddInsurancebuttonFrame7 p {
  /* margin-top: 3px; */
  margin-left: 5px;
}
.labelformAddInsuranceFame2 {
  font-family: "Kanit";
  font-style: normal;
  color: #828282;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  width: 35vw;
}
.formAddInsuranceFame2_1 {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
  width: 69.5vw;
}
.formAddInsuranceFame2_2 {
  display: initial;
}
.inputformAddInsuranceFame2_1 {
  width: 90%;
  border: 1px #cccccc solid;
  border-radius: 5px;
  margin-right: 69px;
  padding: 6px;
  font-family: "Kanit";
  font-style: normal;
  font-size: 15px;
  color: #a9a9a9;
  height: 25px;
}
.inputformAddInsuranceFame2_231 {
  width: 97%;
  border: 1px #cccccc solid;
  border-radius: 5px;
  margin-right: 69px;
  padding: 6px;
  font-family: "Kanit";
  font-style: normal;
  font-size: 15px;
  color: #a9a9a9;
  margin-left: 0px;
}

.imgupload {
  background: url("../../img/iconupload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 123px;
  font-size: 2em;
  padding: 0.5em;
  line-height: 1;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-repeat: no-repeat;
}
.formAddInsuranceFame2_3 {
  display: inline-grid;
  justify-items: center;
  margin-top: 20px;
  width: 67vw;
  padding-top: 60px;
  padding-bottom: 50px;
  background: #ffffff;
  /* border: 1px dashed #bdbdbd; */
  margin-left: -13px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' cx='50' cy='50' r='40' stroke='rgb(189,189,189)' stroke-width='9' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
}
.labelformAddInsuranceFame3 {
  font-family: "Kanit";
  font-style: normal;
  color: #828282;
  font-size: 14px;
  margin-bottom: 15px;
}
.custom-file-label{
    font-family: "Kanit";
    font-style: normal;
    color: #0F1B50;
    font-weight: 400;
    border: 1px solid black;
    padding: 5px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 12px;
}