.pageForgotPassword {
  width: 50vw;
  text-align: center;
  display: inline-block;
}

.formForgotPassword {
  margin-top: 15vh;
}
.formForgotPassword input {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 40vw;
  height: 3vw;
  margin-bottom: 20px;
  padding-left: 10px;
}
.formForgotPassword2 input {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 40vw;
  height: 3vw;
  margin-bottom: 20px;
  padding-left: 10px;
}

.pageForgotPassword2 {
  width: 30vw;
  text-align: center;
  display: inline-block;
}

.pageForgotPassword2 img {
  width: 10vw;
  margin-top: 50px;
}
.HTextForgotPassword {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #0f1b50;
  margin-top: 30px;
}
.HTextForgotPassword2 {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #5b5b5b;
  margin-bottom: 50px;
}
.HTextForgotPassword3 {
  font-family: "Kanit";
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #5b5b5b;
}
.INBoxForgotPassword2 button {
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #c68900;
  border-radius: 12px;
  border: none;
  width: 18vw;
  height: 3vw;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 10vh;
}
